-@page_title=:log_in_to_site.l(:site => configatron.community_name)
=render :partial => 'shared/login_sidebar'
-unless configatron.facebook.key.blank?
  :javascript
    function fb_login(event){
      event.preventDefault();
      FB.login(function(response){
        if(response.authResponse){
          alert("authResponse:" + response.authResponse);
          window.location ="/auth/facebook?accessToken="+response.authResponse.accessToken+"&fb_user_id="+response.authResponse.userID;
        }else {
          alert("Facebook login failed" + response);
        }
      })
    }
  -widget do
    %ul.nav.nav-list
     
      -provider = 'facebook'
      -alt = t('sessions.new.omniauth.button_alt', :provider => provider)
      %li= link_to(image_tag("auth/#{provider.to_s}_64.png", :alt => alt), "#", :title => alt, :onclick => "fb_login(event)")

%h3
= form_tag sessions_path, :class => 'form form-horizontal' do
  .control-group
    %label.control-label{"for"=>"email"}=:email.l
    .controls= text_field_tag 'email', nil
  .control-group
    %label.control-label{"for"=>"password"}=:password.l
    .controls=password_field_tag 'password', nil
  %fieldset
    %label.controls{"for"=>"remember_me"}
      = check_box_tag 'remember_me'
      =:remember_me.l
  .controls
    = submit_tag :log_in.l, :class => 'btn btn-primary'
        