= f.text_field :firstname, :style => "width: 90px", :label => :firstname.l
= f.text_field :lastname, :style => "width: 90px", :label => :lastname.l
= f.text_field :login, :label => :username.l, :help_inline => :required_your_username_must_not_contain_numerals_spaces_or_special_characters.l
= f.text_field :email, :label => :e_mail_address.l, :help_inline => :required_we_will_send_a_confirmation_e_mail_to_the_address_you_enter.l
- if @user.fb_id == nil
  = f.password_field :password
-else
  = f.text_field :fb_url, :label => :fb_url.l
= f.select(:gender, options_for_select([[:male.l,User::MALE], [:female.l, User::FEMALE]], selected = "#{@user.gender}"), { :label => :gender.l }, { :style => 'width: 90px' })
= f.text_field :birthday, :style => "width: 90px", :label => :birthday.l, :help_inline => :required_you_must_be_at_least_years_old_to_sign_up.l_with_args(:min_age => configatron.min_age)
= f.select(:country_id, options_from_collection_for_select(Country.find(:all), "id", "name", selected = "#{@user.country_id}"), { :include_blank => true, :label => :country.l }, { :style => 'width: 90px' })
