= bootstrap_fields_for :essays do |e|
  = e.text_area :about_me, :size => '30x5', :label => t('.about_me')
  = e.text_area :looking_for, :size => '30x5', :label => t('.looking_for')
  = e.text_area :contact_my_if, :size => '30x5', :label => t('.contact_my_if')
  = e.text_area :influential_person, :size => '30x5', :label => t('.influential_person')
  = e.text_area :notice_about, :size => '30x5', :label => t('.notice_about')
  = e.text_area :wish_to_notice, :size => '30x5', :label => t('.wish_to_notice')
  = e.text_area :five_things, :size => '30x5', :label => t('.five_things')
  = e.text_area :leisure_time, :size => '30x5', :label => t('.leisure_time')
  = e.text_area :passionate_about, :size => '30x5', :label => t('.passionate_about')
  = e.text_area :thankfull_for, :size => '30x5', :label => t('.thankfull_for')
  = e.text_area :friends_say, :size => '30x5', :label => t('.friends_say')
  = e.text_area :friday_night, :size => '30x5', :label => t('.friday_night')
