-@page_title=:sign_up.l

-widget do
  %ul.nav.nav-list
  %li.nav-header=:why_sign_up.l
  %li 
    = :sign_up_reason_1.l
  %li 
    = :sign_up_reason_2.l

-widget do
  %h3=:tips.l
  %p
    =:after_signing_up_youll_receive_an_e_mail_confirmation_message.l
  %p
    =:click_the_activation_link_in_the_e_mail_to_log_in.l
  %p= link_to :already_have_an_account.l, "/login"


= bootstrap_form_for @user, :html => { :class => 'form form-horizontal' } do |f|
  %ul.nav.nav-tabs
    %li.active= link_to t('.basic'), '#basic', 'data-toggle' => 'tab'
    %li= link_to t('.additional_info'), '#additional_info', 'data-toggle' => 'tab'
    %li= link_to t('.upload_photo'), '#upload_photo', 'data-toggle' => 'tab'
    %li= link_to t('.hobbies_interest'), '#hobbies_interest', 'data-toggle' => 'tab'
    %li= link_to t('.my_preferences'), '#my_preferences', 'data-toggle' => 'tab'
    %li= link_to t('.essays_about_me'), '#essays_about_me', 'data-toggle' => 'tab'
  .tab-content
    #basic.tab-pane.active
      = render :partial => "users/steps/basic_step", :locals => { :f => f }
    #additional_info.tab-pane
      = render :partial => "users/steps/additional_info_step", :locals => { :f => f }
    #upload_photo.tab-pane
      = render :partial => "users/steps/upload_photo_step", :locals => { :f => f }
    #hobbies_interest.tab-pane
      = render :partial => "users/steps/hobbies_interest_step", :locals => { :f => f }
    #my_preferences.tab-pane
      = render :partial => "users/steps/my_preferences_step", :locals => { :f => f }
    #essays_about_me.tab-pane
      = render :partial => "users/steps/essays_about_me_step", :locals => { :f => f }

  -if configatron.require_captcha_on_signup
    .pull-right= recaptcha_tags

  = hidden_field_tag :inviter_id, params[:inviter_id]
  = hidden_field_tag :inviter_code, params[:inviter_code]

  = hidden_field :user, :fb_id
  = hidden_field :user, :fb_locale
  = hidden_field :user, :fb_access_token



  .controls
    = f.submit :sign_up.l

-content_for :end_javascript do
  :javascript
    jQuery(function($) {
      $("#user_birthday").datepicker(
        {
          changeMonth: true,
          changeYear: true,
          dateFormat: 'yy-mm-dd',
          showButtonPanel: true,
          buttonImage: 'assets/images/calendar.gif',
          buttonImageOnly: true
        }
      );
      $(".ui-datepicker").draggable()
      //add form submit to button on left
      $("#save_changes").click(
        function(event){event.preventDefault();$('.main_form').submit();}
      );
    }
    );
