- @meta = { :description => "#{@user.login}'s profile on #{configatron.community_name}.", :keywords => "#{@user.login}, #{@user.tags.join(", ") unless @user.tags.nil?}", :robots => configatron.robots_meta_show_content }
- @section = @user.eql?(current_user) ? 'my_profile' : 'users'
- @sidebar_left = true
-user = @user
 

= render :partial => 'profile_user_info_sidebar', :locals => {:user => @user}

-widget :id => 'friends' do
  %ul.nav.nav-list
    %li.nav-header=:my_friends.l
    %li.nav-header
    %li= link_to "(#{@friend_count})", accepted_user_friendships_path(@user) if @friend_count > 5
    %li= link_to "#{:invite_a_friend.l :site => configatron.community_name}", invite_user_path(@user) if @is_current_user
    %li= link_to "#{:view_all_my_friend_requests.l} (#{@pending_friendships_count})", pending_user_friendships_path(@user) if @is_current_user
    - @accepted_friendships.each do |user|
      =render :partial => "users/sidebar_user", :locals => {:user => user}
    -if @accepted_friendships.size > 4
      %li
        =icon_link_to 'icon-plus-sign', :see_all.l, accepted_user_friendships_path(@user)

- if @photos.empty? and @recent_posts.empty?
  -widget do 
    %ul.nav.nav-list
      %li.nav-header= :small_profile.l :user => @user.login

- if current_user != @user
  - widget do
    .row-fluid{:id => "user_#{user.id}"}
      = render :partial => 'matches/match_block', :locals => { :user => @user }

- if @is_current_user and @user.vendor? and @user.description.nil?
  .alert.alert-info
    Hey, you're a
    = configatron.community_name
    Pro! You should
    = link_to :update_your_profile.l, edit_user_path(@user)
    \! Add your contact info and Web site.
- if !@is_current_user
  .row
    .span9
      = add_friend_link(@user) if current_user.can_request_friendship_with(@user)
      %a{:href => new_user_message_path(current_user, :to=>@user), :class => "btn btn-info btn-primary‚"}
        %i{:class => 'icon-envelope'}
        =:write_me.l
.row
  .span5
    %h2=:basic_profile_info.l
    %table
      %tr
        %td=:age.l + ':'
        %td=@user.age

      %tr
        %td=:gender.l + ':'
        %td=@user.gender_name

      %tr
        %td=:occupation.l + ':'
        %td=@user.occupation

      %tr
        %td=:education.l + ':'
        %td=@user.education
      %tr
        %td=:ethnicity.l + ':'
        %td=@user.ethnicity_name
      %tr
        %td=:height_cm.l + ':'
        %td=@user.height_cm
      %tr
        %td=:body_type.l + ':'
        %td=@user.body_type_name
      %tr
        %td=:want_more_children.l + ':'
        %td=@user.want_more_children_name
      %tr
        %td=:children.l + ':'
        %td=@user.children
      %tr
        %td=:children_home.l + ':'
        %td=@user.children_home

  .span4
    %h2=:about_church.l
    %table
      %tr
        %td=:ward.l + ", " + :stake.l + ":"
        %td
          =@user.ward if @user.ward
          = ", " + @user.stake if @user.stake

      %tr
        %td=:country.l + ":"
        %td
          = @user.country.name if @user.country

      %tr
        %td=:church_attendance.l + ':'
        %td=@user.church_attendance_name

      %tr
        %td=:served_mission.l + ":"
        %td=@user.served_mission ? "#{:_yes.l} in #{@user.mission_location }" : :_no.l

.row
  .span9
    %h2=:interests.l
    %table
      -unless user.interests.empty?
        %tr
          %td
            %i.icon-star.icon-white
            = :interests.l + ":"
          %td
            %abbr.published
              =raw(user.interests[0...6].compact.collect{|t| link_to( t.name, tag_url(t), :class => "tag badge badge-info") }.join(" "))
      -unless user.musics.empty?
        %tr
          %td
            %i.icon-music.icon-white
            = :music.l + ":"
          %td
            %abbr.published
              =raw(user.musics[0...6].compact.collect{|t| link_to( t.name, tag_url(t), :class => "tag badge badge-info") }.join(" "))
      -unless user.movies.empty?
        %tr
          %td
            %i.icon-film.icon-white
            = :movies.l + ":"
          %td
            %abbr.published
              =raw(user.movies[0...6].compact.collect{|t| link_to( t.name, tag_url(t), :class => "tag badge badge-info") }.join(" "))
      -unless user.books.empty?
        %tr
          %td
            %i.icon-book.icon-white
            = :books.l + ":"
          %td
            %abbr.published
              =raw(user.books[0...6].compact.collect{|t| link_to( t.name, tag_url(t), :class => "tag badge badge-info") }.join(" "))
.row
  .span9
    %h2=:about_me.l
    %p= @user.description.html_safe unless @user.description == nil
.row
  .span9
    %h2=:what_i_look_for.l
    %p= @user.whatilookfor.html_safe unless @user.whatilookfor == nil

