= form_tag sessions_path, :class => 'login-form', :remote => true do

  .modal-header
    %h3= t('.title')

  .modal-body
    #notice.alert-login
    .find-matches
      %p= t('.find_matches')
    .fb-button-container-centered
      = link_to 'javascript: void(false)', :onclick => 'fb_login(event)', class: 'fb-button' do
        %span.fb-button-left
        %span.fb-button-center
          = t('.facebook_login').html_safe
        %span.fb-button-right
    .or-separator.shift
      %span.text= t('.or')
      %hr
    .row-fluid
      .span12
        .row-fluid
          .span12.login-email= text_field_tag 'email', nil, :placeholder => :email.l, :class => 'span12'

        .row-fluid
          .span12.login-pass= password_field_tag 'password', nil, :placeholder => :password.l, :class => 'span12'

        .row-fluid
          .sapn12.login-remeber
            %label.checkbox.inline
              %input{'type'=>'checkbox'} Remember me next time

          .login-forgot
            %a{'href'=>'#'} Forgot password?
          
  .modal-footer
    = submit_tag :log_in.l, :class => 'btn btn-info pull-right', :id => "loginpopup"