.row-fluid{:id => "user_#{user.id}"}
  .span2
    = user_avatar(user)
  .span10
    .row-fluid
      .span10= user.full_name
      .span2
        .row-fluid
          .span12= t('.want_to_know')
        .row-fluid
          #match_links.span12
            = render :partial => 'match_links', :locals => { :user => user }
